.button {
  background-color: $c-lochmara;
  color: $c-white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: pxToRem(20);
  padding: pxToRem(5) $space-large;

  &:hover,
  &:active {
    background-color: $c-bahamaBlue;
  }
}

@media only screen and (max-width: $break-mobile) {
  .button {
    max-width: 100%;
    width: 100%;
    padding: $space-small $space-large;
  }
}
