.card4 {
  position: relative;
  width: 100%;
  max-width: pxToRem(540);
  height: pxToRem(318);
  overflow: hidden;
  cursor: pointer;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: pxToRem(4);
    box-sizing: border-box;
    background-position: center;
    transition: transform 0.4s ease-in-out;
  }

  &:hover &__img {
    transform: scale(1.05);
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    border-radius: pxToRem(4);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 15%,
      rgba(0, 0, 0, 0.15) 60%
    );
  }

  &__header {
    display: flex;
    align-items: center;
    font-size: pxToRem(20);
    font-weight: 700;
    text-shadow: $c-black 1px 1px 1px;
    padding: pxToRem(21) pxToRem(15) 0;

    img {
      width: pxToRem(24);
      height: pxToRem(20);
      margin-left: $space-standard;
    }
  }

  &__sub-header {
    text-shadow: $c-black 1px 1px 1px;
    padding: 0 pxToRem(15) pxToRem(15);
    margin: pxToRem(5) 0;
    font-size: $space-small;
  }
}
