.card2 {
  cursor: pointer;
  color: $c-mineShaft;

  &__img {
    width: pxToRem(207);
    height: pxToRem(180);
    border-radius: pxToRem(4);
    box-sizing: border-box;
    background-size: cover;
    background-position: center;

    &--big {
      width: pxToRem(263);
      height: pxToRem(263);
    }
  }

  &__content {
    h3 {
      font-size: $space-standard;
      margin: 0;
      padding: $space-standard 0 0;
      line-height: pxToRem(24);
    }

    p {
      font-size: $space-small;
      margin: 0;
      line-height: pxToRem(20);
      color: $c-masala;
    }
  }
}
