.header {
  background-color: $c-resolutionBlue;
  position: relative;

  &__bar {
    display: flex;
    max-width: $break-desktop;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: $space-x-small $space-standard;
    box-sizing: border-box;
  }

  &__main {
    padding: $space-x-small 0;

    img {
      height: $space-medium;
    }
  }

  &__group,
  &__mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__mobile {
    display: none;
  }

  &__item {
    margin-left: $space-x-small;
  }

  &__tab {
    max-width: $break-desktop;
    margin: auto;
  }

  &__nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: auto;
  }

  &__nav__item {
    padding: $space-standard;
    font-size: $space-small;
    display: flex;
    align-items: center;
    white-space: nowrap;

    img {
      margin-right: $space-x-small;
    }
  }

  .simplebtn {
    background-color: transparent;
    border: none;
    outline: none;
    color: $c-white;
    padding: pxToRem(12);
    min-width: $space-x-large;
    min-height: $space-x-large;
    line-height: 0;
    font-size: $space-standard;
    box-sizing: border-box;
  }

  .img_circle {
    width: $space-medium;
    height: $space-medium;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .btn_inverted {
    border: pxToRem(1) solid $c-white;
    outline: none;
    background-color: transparent;
    color: $c-white;
    padding: $space-x-small $space-standard;
    font-size: $space-small;
    line-height: $space-medium;
    border-radius: pxToRem(2);
  }

  .btn_primary {
    border: pxToRem(1) solid $c-lochmara;
    outline: none;
    background-color: $c-white;
    color: $c-lochmara;
    padding: $space-x-small $space-standard;
    font-size: $space-small;
    line-height: $space-medium;
    border-radius: pxToRem(2);
  }

  .simplebtn,
  .btn_inverted,
  .btn_primary,
  &__nav__item {
    position: relative;
    cursor: pointer;
    border-radius: pxToRem(2);

    &:hover,
    &:active {
      &::before {
        border-radius: pxToRem(2);
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $c-white-opacity;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px $c-lochmara-opacity;
    }
  }
}

.active {
  border-bottom: 2px solid $c-white;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.submenu {
  background-color: $c-white;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  &__close {
    width: 100%;
    text-align: right;
    padding: $space-medium;
    box-sizing: border-box;

    img {
      cursor: pointer;

      &:focus {
        box-shadow: 0 0 0 3px $c-lochmara-opacity;
      }
    }
  }

  &__title {
    color: $c-mineShaft;
    margin: 0;
    padding: 0 $space-medium $space-medium;
  }

  &__subtitle {
    color: $c-mineShaft;
    margin: 0;
    padding: $space-medium $space-medium pxToRem(12);
    font-size: $space-small;
  }

  &__list {
    color: $c-mineShaft;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__element {
    padding: $space-standard $space-medium;
    font-size: $space-small;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: $c-opacity;
    }

    &:focus {
      box-shadow: 0 0 0 3px $c-lochmara-opacity;
    }

    img {
      margin-right: $space-standard;
    }
  }

  &__custom {
    margin-right: $space-standard;
    opacity: 0.6;
  }
}

.show {
  display: block;
  opacity: 1;
  top: 0;
}

@media only screen and (max-width: $break-mobile) {
  .header {
    position: relative;
    z-index: 100;

    &__main {
      img {
        height: pxToRem(20);
      }
    }

    &__group {
      display: none;
    }

    &__mobile {
      display: flex;
    }

    &__nav__item {
      font-size: $space-small;

      img {
        width: pxToRem(20);
        height: pxToRem(20);
      }
    }
  }
}
