.input {
  position: relative;
  background-color: $c-white;
  color: $c-mineShaft;
  display: flex;
  align-items: center;
  border-radius: pxToRem(2);
  flex: 1;

  img {
    filter: brightness(0.5);
    padding: $space-small;
    opacity: 0.6;
  }

  input {
    border: none;
    outline: none;
    font-size: $space-small;
    height: pxToRem(50);
    box-sizing: border-box;
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 0 0 1px #d59c00;
  }

  &__clear {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}

@media only screen and (max-width: $break-mobile) {
  .input {
    width: 100%;
  }
}
