.input {
  background-color: $c-white;
  color: $c-mineShaft;
  display: flex;
  align-items: center;
  border-radius: pxToRem(2);
  flex: 1;

  img {
    filter: brightness(0.5);
    padding: $space-small;
  }

  input {
    border: none;
    outline: none;
    font-size: $space-small;
    height: pxToRem(50);
    box-sizing: border-box;
  }
  &:hover {
    box-shadow: 0 0 0 1px #d59c00;
  }
}
