.input-people {
  position: relative;
  background-color: $c-white;
  color: $c-mineShaft;
  display: flex;
  align-items: center;
  border-radius: pxToRem(2);
  flex: 1;
  max-width: max-content;
  cursor: pointer;

  img {
    padding: $space-small;
  }

  &__content {
    display: flex;
    align-items: center;
    font-size: $space-small;
    line-height: pxToRem(20);
  }

  &__count {
    padding: $space-x-small;
  }

  &__separator {
    background-color: $c-masala;
    width: pxToRem(2);
    height: pxToRem(2);
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 0 0 1px #d59c00;
  }
}
