.input1 {
  border-radius: pxToRem(3);
  outline: none;
  border: none;
  padding: pxToRem(10);
  font-size: pxToRem(20);
  line-height: pxToRem(28);
  color: $c-masala;
  width: 100%;
  max-width: pxToRem(375);
}
