.layout {
  &__container {
    max-width: $break-standard;
    margin: auto;
    box-sizing: border-box;
    color: $c-mineShaft;
  }
}

.input-area {
  color: $c-mineShaft;
  background-color: $c-wildSand;
  margin-bottom: $space-large;

  &__container {
    padding: $space-x-large 0;
    max-width: $break-standard;
    margin: auto;
    box-sizing: border-box;
  }

  &__header {
    margin: 0;
    font-size: $space-medium;
    font-weight: 600;
  }

  &__sub-header {
    font-size: $space-small;
    line-height: pxToRem(20);
    margin: 0 0 $space-medium;
  }

  &__area {
    background-color: $c-selectiveYellow;
    padding: pxToRem(4);
    width: fit-content;
    border-radius: pxToRem(4);
    display: flex;
    gap: pxToRem(4);
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  &__check {
    padding: $space-standard 0;

    label {
      padding-left: $space-x-small;
      font-size: $space-small;
      cursor: pointer;
    }

    input {
      cursor: pointer;
    }
  }
}

.card-area {
  margin: auto;
  max-width: $break-standard;
  display: flex;
  gap: $space-standard;
  justify-content: space-between;
  padding: pxToRem(6) pxToRem(8);
  box-sizing: border-box;
}

.section-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding: 0;
  margin: 0 0 $space-standard;
}
