@import "styles/variables.scss";

.header {
  background-color: $c-resolutionBlue;

  &__bar {
    display: flex;
    max-width: $break-desktop;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: $space-x-small $space-standard;
    box-sizing: border-box;
  }

  &__main {
    padding: $space-x-small 0;

    img {
      height: $space-medium;
    }
  }

  &__group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    margin-left: $space-x-small;
  }

  &__tab {
    max-width: $break-x-mid;
    margin: auto;
  }

  &__nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  &__nav__item {
    padding: $space-standard;
    font-size: $space-small;
    display: flex;
    align-items: center;

    img {
      margin-right: $space-x-small;
    }
  }

  .simplebtn {
    background-color: transparent;
    border: none;
    outline: none;
    color: $c-white;
    padding: pxToRem(12);
    min-width: $space-x-large;
    min-height: $space-x-large;
    line-height: 0;
    font-size: $space-standard;
    box-sizing: border-box;
  }

  .img_circle {
    width: $space-medium;
    height: $space-medium;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .btn_inverted {
    border: pxToRem(1) solid $c-white;
    outline: none;
    background-color: transparent;
    color: $c-white;
    padding: $space-x-small $space-standard;
    font-size: $space-small;
    line-height: $space-medium;
    border-radius: pxToRem(2);
  }

  .btn_primary {
    border: pxToRem(1) solid $c-lochmara;
    outline: none;
    background-color: $c-white;
    color: $c-lochmara;
    padding: $space-x-small $space-standard;
    font-size: $space-small;
    line-height: $space-medium;
    border-radius: pxToRem(2);
  }
}
